body {
  margin: 0;
  padding: 0;
  color: #373737;
  background: #373737;
  font-family: 'Roboto', sans-serif;
}
*,
:after,
:before {
  box-sizing: border-box;
}
.wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
}
input[name="menu"] {
  display: none;
}
.list {
  width: 100%;
  height: 65px;
  padding: 5px;
  overflow: hidden;
  background: #000;
  position: relative;
}
.list .link-wrap {
  width: 100%;
  height: 100%;
  display: table;
}
.list .link-wrap > label {
  color: #9f9f9f;
  z-index: 999;
  width: 100px;
  font-size: 9px;
  cursor: pointer;
  padding: 4px 12px;
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
}
.list .link-wrap > label > i,
.list .link-wrap > label > span {
  transition: all 0.2s ease-in-out 0s;
}
.list .link-wrap > label > i {
  font-size: 22px;
  margin-bottom: 5px;
}
.rizk-item {
  font-size: 62px !important;
  line-height: 46.5px !important;
}
.list .link-wrap > label > span {
  display: block;
  font-weight: 900;
}
.list .overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: table;
  position: absolute;
}
.list .overlay > span {
  width: 1%;
  position: relative;
  display: table-cell;
}
#overview:checked ~ .list label[for="overview"] > span,
#live-bet:checked ~ .list label[for="live-bet"] > span,
#my-bets:checked ~ .list label[for="my-bets"] > span,
#menu:checked ~ .list label[for="menu"] > span,
#rizk:checked ~ .list label[for="rizk"] > span {
  transform: translateY(0);
  height: auto;
  color: #ffe500;
}
#overview:checked ~ .list label[for="overview"] > i,
#live-bet:checked ~ .list label[for="live-bet"] > i,
#my-bets:checked ~ .list label[for="my-bets"] > i,
#menu:checked ~ .list label[for="menu"] > i,
#rizk:checked ~ .list label[for="rizk"] > i {
  transform: translateY(0);
  height: auto;
  color: #ffe500;
}
#overview:hover ~ .list label[for="overview"] > i,
#live-bet:hover ~ .list label[for="live-bet"] > i,
#my-bets:hover ~ .list label[for="my-bets"] > i,
#menu:hover ~ .list label[for="menu"] > i,
#rizk:hover ~ .list label[for="rizk"] > i {
  transform: translateY(0);
  height: auto;
  color: #ffe500;
}
#overview:hover ~ .list label[for="overview"] > span,
#live-bet:hover ~ .list label[for="live-bet"] > span,
#my-bets:hover ~ .list label[for="my-bets"] > span,
#menu:hover ~ .list label[for="menu"] > span,
#rizk:hover ~ .list label[for="rizk"] > span {
  transform: translateY(0);
  height: auto;
  color: #ffe500;
}
.contents {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.8);
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
}
.drawer-menu {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 120px 0;
  background: #222;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .5s;
  transition-duration: .5s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  -webkit-transform: perspective(500px) rotateY(-90deg);
  transform: perspective(500px) rotateY(-90deg);
  opacity: 0;
}
/* menu button - label tag */
.menu-btn {
  position: fixed;
  bottom: 1%;
  right: 5%;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  z-index: 3;
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 23px;
  height: 3px;
  background: #9f9f9f;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.bar.middle {
  top: 7px;
  opacity: 1;
}
.bar.bottom {
  top: 14px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}
.menu-btn__text {
  position: absolute;
  bottom: 6px;
  left: -17px;
  right: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: block;
  visibility: visible;
  opacity: 1;
  color: #9f9f9f;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}
.menu-btn:hover .bar {
  background: #9f9f9f;
}
.menu-btn:hover .menu-btn__text {
  color: #9f9f9f;
}
.close-menu {
  position: fixed;
  top: 0;
  right: 300px;
  width: 100%;
  height: 100vh;
  background: #000;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  visibility: hidden;
  opacity: 0;
}
/* checked */
.menu-icon:checked ~ .drawer-menu {
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 1;
  z-index: 2;
}
.menu-icon:checked ~ .contents {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  transform: translateX(-300px);
}
.menu-icon:checked ~ .menu-btn .bar.top {
  width: 25px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu-icon:checked ~ .menu-btn .bar.middle {
  opacity: 0;
}
.menu-icon:checked ~ .menu-btn .bar.bottom {
  width: 24px;
  top: 17px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu-icon:checked ~ .close-menu {
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: .3s;
  transition-delay: .3s;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  z-index: 3;
}
.menu-icon:checked ~ .menu-btn .menu-btn__text {
  left: -22px;
}
.hidden-item {
  visibility: hidden;
}
/*# sourceMappingURL=style.css.map */